@import 'tailwindcss';

@media (prefers-color-scheme: dark) {
  body {
  }
}

@custom-variant dark (&:where(.dark, .dark *));

a {
  @apply text-sky-600 dark:text-sky-400;
}

.button {
  @apply border border-gray-300 bg-gray-100 px-3 py-2 text-sm active:bg-gray-200 active:text-gray-500 disabled:text-gray-400;
}
